##########################################################################
# If not stated otherwise in this file or this component's Licenses.txt
# file the following copyright and licenses apply:
#
# Copyright 2024 RDK Management
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
##########################################################################

[text-verification]
#text to verify in image
primevideo = Amazon Originals, plus popular titles|included with Prime, premium channel|subscriptions, videos available to rent|or buy, sports, and more.
youtube = Recommended|views
residentapp = RDK|Home
youtube_homepage_signin = { "Make YouTube your own|Sign in" : [209, 284, 803, 329] }
youtube_signin = Sign in with your Google|Scan with your phone or go to|Skip
youtube_account_page = Who's watching?|Add account|YouTube Kids
youtube_signin_experience =youtube.com/signup|Not now

[templates_verification]
youtube = { "youtube_logo.png" :"TopRight" }
youtube_icons = { "youtube_icons.png" : "TopLeft" , "youtube_icons_2.png" : "TopLeft"}
primevideo = {"prime_logo.png": "TopLeft"}
youtube_home_icon ={"YT_Home_highlight.png":"TopLeft"}
youtube_icon_logo ={"YT_icon_logo.png": "TopLeft"}
youtube_search_icon ={"Search_icon.png":"TopLeft"}
youtube_gaming_icon ={"Gaming_icon.png":"CentreLeft"}
netflix ={"netflix_logo.png": "TopLeft"}
youtube_signin ={"youtube_signin_one.png":"TopLeft"}
